:root {
  /* general */
  --accent-dark-base: #300;
  --accent-dark-base-emph: #600;
  --accent-light-base: #900;
  --accent-light-emph: #c00;
  --supplemental: yellow;

  /* dark mode */
  --foreground: #ccc;
  --background: #111;
  --accent-bg: var(--accent-dark-base);
  --accent-bg-emphasized: var(--accent-dark-base-emph);
  --accent-fg: var(--accent-light-base);
  --accent-fg-emphasized: var(--accent-light-base-emph);

  /* special */
  --power-color: #7EC8EF;
  --quality-color: #B9A4CE;
}

@media (prefers-color-scheme: light) {
  :root {
    /* light mode */
    --foreground: #333;
    --background: #ccc;
    --accent-bg: var(--accent-light-base);
    --accent-bg-emphasized: var(--accent-light-base-emph);
    --accent-fg: var(--accent-dark-base);
    --accent-fg-emphasized: var(--accent-dark-base-emph);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: 40px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
